$font-stack: 'PT Sans', sans-serif;
$font-secondary: 'MakFuturis', sans-serif;
$primary-color: #333;
$percent-100: 100%;
$orange-color: #f35d20;
$color-black: #1e1e1e;
$secondary-color: #839ca9;
$text-up: uppercase;

@import 'layout';
@import 'admin';
@import 'index';
@import 'general';
@import 'schedule';
@import 'about-us';
@import 'cope';
@import 'contact-us';
@import 'player';
@import 'responsive';
@import 'live';
@import 'footer';
@import 'playlists';
@import 'playlist-detail';
@import 'track';
@import 'search';
@import 'message';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@font-face {
  font-family: 'MakFuturis';
  src: url('/makfuturis.ttf') format('truetype'),
  url('/makfuturis_italic.ttf') format('truetype'),
  url('/makfuturisbold.ttf') format('truetype'),
  url('/makfuturisbold_italic.ttf') format('truetype');
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);


/* ===== HOME PAGE ===== */

body {
  font-family: $font-stack !important;
  background-size: cover;
  overflow-x: hidden;
  background-color: $color-black;
}

#react-root {
  background: $color-black;
}

a {
  color: $orange-color;
  cursor: pointer;
}

a:hover {
  color: $primary-color;
}

.content-box {
  width: 210px;
  height: 210px;
  background: url(/content_bg.png);
  position: absolute;
  top: 200px;
  right: 0;

  span {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: none;
    z-index: 2;
    position: relative;
    display: inline-block;
    margin: 60px 0 0 0;
  }

  h2 {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: $text-up;
    margin: 0;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    z-index: 1;
    @include border-radius(50%);
    @include transition(0.3s ease-in-out);
  }
}

a.content-box-link {
  @include transition(0.3s ease-in-out);
  display: block;
}

a.content-box-link:hover .content-box .overlay {
  background: rgba(243, 94, 34, 0.7);
}

.folder-icon {
  display: block;
  background: $orange-color;
  width: 37px;
  height: 37px;
  line-height: 37px;
  margin-top: 17px;
  @include border-radius(50%);
  i {
    color: #fff;
    font-size: 26px;
  }
}

.embed {
  margin-left: 20px;
  margin-top: 0;
  cursor: pointer;
}

.copy-embed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #fff;
}

.copy-embed:hover {
  text-decoration: none;
  color: #fff;
}

.icons-left {
  width: 30%;
  margin: 0;
}

.unmute {
  background-image: url(/speaker_muted.png);
  background-size: cover;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.mute {
  background-image: url(/speaker.png);
  background-size: cover;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.hidden-a {
  display: none;
}

.content-scroll {
  max-height: 560px;
  position: relative;
  overflow: auto;
  margin: 135px 0 125px 0;
}



/* ===== COMPONENTS ===== */

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #eee7e4 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #6d6a68 !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 3px !important;
  @include border-radius(0 !important);
}

.btn {
  display: inline-block;
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  border-radius: 0;
}

.btn-nav {
  font-size: 20px;
  font-family: $font-secondary;
  color: #f3f2f2;
  margin-right: 45px;
  @include transition(0.3s ease-in-out);
}

.btn-nav:last-child {
  margin-right: 0;
}

.btn-nav:hover,
.btn-nav:focus {
  color: $orange-color;
}

.btn-nav:hover i,
.btn-nav:focus i {
  border-color: $orange-color;
}

.btn-submit {
  background: none;
  font-size: 16px;
  text-decoration: underline;
  margin-right: 25px;
}

.btn-submit:hover,
.btn-submit:focus {
  text-decoration: none;
}

.footer-navigation {
  a.cope {
    color: $orange-color;
    i {
      margin-right: 10px;
    }
  }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: $orange-color;
  cursor: default;
  background-color: transparent;
  border: 0;
  border-bottom-color: transparent;
}

.nav-tabs li {
  margin-right: 18px;
}

.nav-tabs>li>a {
  margin-right: 0;
  line-height: 0;
  border: 0;
  @include border-radius(0);
  font-size: 18px;
  font-family: $font-secondary;
}

.nav-tabs>li:after {
  content: '/';
  font-size: 20px;
  position: absolute;
  top: -3px;
  right: -13px;
}

.nav-tabs>li:last-child:after {
  content: '';
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 0px;
  color: #fff;
}

.nav-tabs {
  border-bottom: 0;
  margin-bottom: 20px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  color: $orange-color;
  background-color: transparent;
}

#map {
  height: 100%;
}

.tab-select {
  border-radius: 0;
  width: 90%;
  margin: 0 0 20px 20px;
}

.popover.top>.arrow:after {
  bottom: 2px;
  margin-left: -10px;
  content: " ";
  border-top-color: rgba(0, 0, 0, 0.67);
  border-bottom-width: 0;
}

.popover {
  border: 0;
  border: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  line-break: auto;
}

.popover.top>.arrow {
  display: none;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: transparent;
  border-top-color: transparent;
  border-bottom-width: 0;
}

.popover-content {
  width: 85px;
  padding: 4px;
}

.popover-input {
  background: transparent;
  border: 0;
  color: #FFF;
  font-size: 11px;
  width: 0;
  height: 0;
  position: absolute;
  left: -10000px;
}

.popover-input:focus {
  box-shadow: none !important;
}



/* ===== ADDITIONAL COLUMN ===== */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}