<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div id="container" style="-webkit-font-smoothing: antialiased; font-family: arial; max-width: 760px; margin: 0 auto;
                background-color: #f5f5f5; font-size: 13px; color: #444; overflow: hidden; text-align: center;">
            <!-- Begin Header -->
            <div class="header" style="background: #fff; border: 1px solid #ddd; border-top: none; padding: 30px;
                position: relative; margin: 0 50px 30px 50px; border-radius: 0 0 2px 2px; color: #888;">
                <div class="topbar" style="position: absolute; top: 30px; left: 0; right: 0; background: #f35d20;
                    color: #fff; padding: 0 30px; line-height: 45px; height: 45px; border-radius: 2px 2px 0 0;">
                    <b>BUSINESS RADIO 98.9</b>
                </div>

                <div class="info" style="margin: 70px 0 30px 0; text-align: center;">
                    <a href="http://business-radio.mn" target="_blank" style="text-decoration: none;">
                        <img src="http://business-radio.mn/logo_black_small.jpg" style="max-width: 200px;">
                    </a>
                    <p>Бизнес эдийн засгийн зөвлөгөө сургалт илтгэлүүд, мэргэжлийн шинжээчдийн тайлбар дүгнэлт, өөрийн оронд болон дэлхий даяарх бизнес, эдийн засгийн онцлох мэдээллүүдийг таны сонорт хүргэнэ. Энэ бүхнийг танд хүргэхээр мэргэжлийн шинжээч зөвлөх, сэтгүүлчид болон дотоод, гадаадын шилдэг агентлагууд хамтран ажиллаж байна.</p>
                </div>
                <div class="social" style="text-align: center;">
                    <a href="https://www.facebook.com/BusinessRadio98.9/" target="_blank" style="text-decoration: none;">
                        <img style="width: 34px;" src="https://cdn1.iconfinder.com/data/icons/social-icon-pack-by-citni/48/Facebook.png" >
                    </a>
                    <a href="https://twitter.com/BusinessFM989/" target="_blank" style="text-decoration: none;">
                        <img style="width: 34px;" src="https://cdn1.iconfinder.com/data/icons/social-icon-pack-by-citni/48/Twitter.png">
                    </a>
                    <a href="https://www.youtube.com/channel/UC9KkXfwdy42XTZWtLeBzDHg" target="_blank"
                        style="text-decoration: none;">
                        <img style="width: 34px;" src="https://cdn1.iconfinder.com/data/icons/social-icon-pack-by-citni/48/Youtube.png">
                    </a>
                </div>
            </div>
            <!-- End Header -->

            <!-- Begin Main Container -->
            <div id="main-container" style="width: auto; margin: 0 50px 30px 50px; border-radius: 2px; border: 1px solid #ddd;
                background: #fff; position: relative; overflow: hidden; text-align: left;">
                <div class="main" style="padding: 30px 50px;">
                    <h2>Санал хүсэлт ирлээ.
                        <a href="http://business-radio.mn/messages" style="text-decoration: none; color: #f35d20;"
                            target="_blank">Энд</a>
                        дарж үзнэ үү.
                    </h2>
                </div>
            </div>
            <!-- End Main Container -->

            <!-- Begin Footer -->
            <div id="footer" style="width: auto; margin: 0 50px 50px 50px; border-radius: 2px; border: 1px solid #ddd;
                background: #fff; position: relative; overflow: hidden; text-align: left; padding: 30px 50px;">
                <span style="display: inline-block; float: left; text-align: left;">
                    <h3 style="border-bottom: 1px solid #307fbc; padding: 0 0 10px 0">IT Partner</h3>
                    <a href="http://thenewmediagroup.co" target="_blank"
                        style="display: inline-block;">
                        <img src="http://business-radio.mn/new_media_logo.png" alt="The New Media Group" />
                    </a>
                </span>
                <span style="display: inline-block; float: right; text-align: right;">
                    <h3 style="border-bottom: 1px solid #307fbc; padding: 0 0 10px 0">Цахим хуудсын цогц шийдэл</h3>
                    <a href="http://gerege.agency" target="_blank"
                        style="display: inline-block; margin-top: 20px;">
                        <img src="http://business-radio.mn/gerege_black.png" alt="Gerege.agency" />
                    </a>
                </span>
            </div>
            <div class="copyright" style="padding-bottom: 20px; color: #bbb;">
            </div>
            <!-- End Footer -->
        </div>
    </body>
</html>
